




*{


    margin:0;
    padding:0;
    text-decoration: none;
    box-sizing: border-box;

}body{
    align-items:center;
    justify-content:center;
    min-height: 100vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.wrapper{

   margin:5px;
    padding:5px;
    background:#fff;
    width:400px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),0 32px 64px -48px rgba(0, 0, 0,0.5);
}




.users{


    padding:25px 30px;

}
 header,.user-list a{

display: flex;
align-items: center;
margin:8px;
padding-top:8px;

padding-bottom: 20px;
justify-content: space-between;
border-bottom: 1px solid #e6e6e6;

} 

.wrapper img{


    object-fit:cover;
    border-radius: 50%;
}

 :is(.content,.user-list).content{
    display: flex;
}
 header .content img{

width:50px;
height: 50px;
}
 header .details,.user-list .details{
    color:#fff;
    margin-left: 15px;
} header .details,.user-list .details span{

    font-size:20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: bold;
} header .logout{



    color:#fff;
    font-size: 17px;
    padding:7px 15px;
    background:#333;
    border-radius: 5px;
}








.users .search .text{

font-size:18px;
}

.users .search{

    margin:20px 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    
}
.users .search input{
height:42px;
width:calc(100% - 50px);
border:1px solid #ccc;
padding:0 13px;
font-size:16px;
border-radius: 5px 0 0 5px;
outline: none;

    opacity: 0;
    pointer-events: none;
    transition:  all 0.3s ease;
}

.users .search input.active{

    opacity:1;
    pointer-events: auto;

}
.users .search button{
    
width:47px;
height: 42px;
border:none;
outline: none;
color:#292930;
background:#fff;
cursor:pointer;
font-size: 17px;
border-radius:  0 5px 5px 0;

transition:  all 0.2s ease;
}
.users .search button.active{

    color:#fff;
background:#333;
}

.users .search button.active i::before{
    content:"\f00d";
}
.user-list a{
    margin-bottom:15px;
    page-break-after: 10px;
    padding-right: 15px;
    border-bottom-color: #f1f1f1;


}
.user-list a:last-child{
    border: none;
    margin-bottom: 0px;
}

.user-list a .content img{

    width:50px;
    height:50px;
    border-radius: 50%;
}
.user-list a p{

    color:#fff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}
.user-list a .status-dot .Offline{
    color:red;
}

.user-list a .status-dot{

    font-size: 12px;
    color:#468669;
}